body{
	background-color: #474646;
	color:  white;
}

.container{
	background-color: #474646;
	width:  100%;
	height: auto;
	margin: auto;
}

div{
	justify-content: center;
}
h1{
	text-align: center;
}

button{
	text-align: center;
	width: auto;
	height: auto;
	color: white;
	border-color: #710303;
	border-width:  4px;
}